$tablet:900px;
$mobile:600px;

@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
	font-family: 'Lato', sans-serif;
}

.wrapper {
    min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1100px;
	padding: 0 15px;
	margin: 0 auto;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	font-size: 0;
}

.mainscreen {
	
	background: url('/img/IMG_6988.jpg') top/cover no-repeat;
	flex:1 0 100%;
	padding: 350px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	text-shadow: rgb(0, 0, 0) 1px 0 10px;
    @media (max-width:$tablet)  {
        padding: 100px 0 0 0;
		background: url('/img/IMG_6988.jpg') top/cover no-repeat;
}
@media (max-width:$mobile)  {
	padding: 300px 0 0 0;
	background: url('/img/IMG_6988.jpg') right/cover no-repeat;
	text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
	
	&__body {
		text-align: center;
		
        
       

	}

	// .mainscreen__title

	&__title {
		font-size: 65px;
		letter-spacing: 5px;
		line-height: 60px;
		text-transform: uppercase;
		color: #ffffff;
		font-weight: 900;
        @media (max-width:$tablet)  {
            font-size: 35px;
            line-height: 30px;
			font-weight: 700;
			letter-spacing: 3px;
    }
	
	}
	// .mainscreen__text
	&__text {
		font-size: 26px;
		letter-spacing: 5px;
		line-height: 40px;
		text-transform: lowercase;
		color: #ffffff;
		font-weight: 300;
		@media (max-width:$tablet)  {
            font-size: 15px;
            line-height: 20px;
    }
	}
	
}

.navigation {
	
	padding: 50px 15px;
    background-color: #000000c0;
    border-bottom: 1px solid #00000031;
	border-top: 1px solid #00000031;
	
	
	&__row {
		gap: 30px;
		font-size: 22px;
		color: #000000;
		font-weight: 400;
		display: flex ;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
        @media (max-width:$tablet)  {
            font-size: 10px;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			line-height: 40px;
			font-size: 35px;
    }
		@media (max-width:$mobile)  {
			justify-content: flex-start;
			line-height: 25px;
			font-size: 15px;
			text-align: justify;
    }
}
	
	

	// .navigation__link

	&__link {
			letter-spacing: 2px;
		    color: #ffffff;
		a {
		
      
		&:active {
			color: #ffffff;
		}
		&:link {
			color: #ffffff;
		}
		&:visited{
			color: #ffffff;
		}
        &:hover{
            text-shadow: 1px 1px 10px #ffffff;
        }
	}
    @media (max-width:$tablet)  {
        margin: 0 5px;
}
}
}

.content {
    
    text-align: center;
    background: url('/img/IMG_7515.jpg') bottom/cover no-repeat;
  
}

.information {
    
    padding: 20px 0 0 0;
    

    &__row {
        display: flex;
        flex-direction: row;
        
        @media (max-width:$tablet)  {
            flex-direction: column;
            
    }        
    }

    

    &__column {
        flex:1 0 33.333%;
        display: flex;
        flex-direction: column;
        padding: 10px;
		min-height: 400px;
        
    }

    

    &__title {
       
        background-color: #00000088;
        color: #ffffff;
        font-size: 26px;
		letter-spacing: 5px;
		line-height: 40px;
		font-weight: 700;
        text-transform: uppercase;
        border-radius: 10px;
        padding: 20px;
   
       
    
      
    }

   

    &__text {
        text-align: left;
        padding: 20px 20px;
        color:#ffffff;
        font-size: 20px;
		letter-spacing: 1px;
		line-height: 30px;
		font-weight: 400;
        text-shadow: 5px 5px 10px #000000;
		
		&_summary {
			
			li {
				margin: 0 0 20px 0;
				&::before{
					content: '';
					width: 10px;
					height: 10px;
					background-color: #ffffff;
					display: inline-block;
					border-radius: 50%;
					margin: 0 9px 0 0;
				}
			}
		}

		&_list {
			line-height: 50px;
			li {
				&::before{
					content: '';
					width: 10px;
					height: 10px;
					background-color: #ffffff;
					display: inline-block;
					border-radius: 50%;
					margin: 0 9px 0 0;
				}
			}
		}
        
    }
}


.contacts {

	background-color: #000000c0;

	&__body {
		
		
	}

	// .contacts__title

	&__title {
		
        color: #ffffff;
        font-size: 26px;
		letter-spacing: 5px;
		line-height: 40px;
		font-weight: 700;
        text-transform: uppercase;
        padding: 20px;
	}

	// .contacts__text

	&__text {
		gap:20px;
		a {
			&:active {
				color: #ffffff;
			}
			&:link {
				color: #ffffff;
			}
			&:visited{
				color: #ffffff;
			}
			&:hover{
				text-shadow: 1px 1px 10px #ffffff;
			}
		}

		img {
			width: 30px;
			&:hover{
				box-shadow: 1px 1px 10px #ffffff;
				border-radius: 50%;
			}
		}
		display: flex;
		flex-direction: row;
		justify-content: center;
		
        padding: 20px 20px;
        color:#ffffff;
        font-size: 20px;
		letter-spacing: 2px;
		line-height: 30px;
		font-weight: 400;
        text-shadow: 5px 5px 10px #000000;
		
	}
}

.footer {

	// .footer__img
	&__row {
		display: flex;
		align-items: center;
		justify-content: center;

	}
	&__img {
		padding: 15px;
	}

	// .footer__data

	&__data {
		font-size: 20px;
		font-weight: 900;
        color: #000000;
		text-shadow: 3px 3px 20px #ffffff;
	}
}


